﻿.dropdown body
{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 1px;
    font-weight: normal;
    line-height: 1px;
}
/*Color:#FFF  */
.desc
{
    color: #6b6b6b;
}
.desc a
{
    color: #0092dd;
}

.dropdown dd, .dropdown dt, .dropdown ul
{
    margin: 0px;
    padding: 1px;
    padding-bottom: 0px;
}
.dropdown dd
{
    position: relative;
}
.dropdown a, .dropdown a:visited
{
    color: #ffffff; /*#816c5b;*/
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    font-weight: normal;
    text-decoration: none;
    outline: none;
    padding: 2px;
}
.dropdown a:hover
{
    color: #ffffff /*5d4617*/;
}
.dropdown dt a:hover, .dropdown dt a:focus
{
    color: #ffffff; /*#5d4617*/
    border: 0px solid #000000; /*5d4617*/
}

.dropdown dt a
{
    background: #000000 /*#e4dfcb*/ url(../images/arrow.png) /*url(images/arrow.png)*/ no-repeat scroll right center;
    display: block;
    padding-right: 15px; /* border:0px solid #d4ca9a; width:80px;*/
}

.dropdown dt a span
{
    cursor: pointer;
    display: block; /*padding:4px;*/
}
.dropdown dd ul
{
    background: #000000 none repeat scroll 0 0;
    border: 0px solid #d4ca9a;
    color: #C5C0B0;
    display: none;
    left: 0px;
    padding: 1px 0px;
    position: absolute;
    top: 0px;
    width: 100px;
    min-width: 120px;
    list-style: none;
}
.dropdown span.value
{
    display: none;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 5px;
    font-weight: normal;
}
.dropdown dd ul li a
{
    padding: 2px;
    display: block;
}
.dropdown dd ul li a:hover
{
    background-color: #43516e; /*#d0c9af;*/
}

.dropdown img.flag
{
    border: block;
    vertical-align: middle;
    margin-right: 10px;
}
.flagvisibility
{
    display: block;
}


