.Body	{ font-family: Arial, sans-serif; color: #000000; font-size: 11px; line-height: 12px }
.PageHead	{ color: #000000; font-family: Arial, sans-serif; font-size: 18px; line-height: 19px; font-weight: bold }
.DataGridHeader
{
	font-size: 12pt;
	font-family: Arial;	
	background-color: #ffff99;
	text-align: left;
	color:GhostWhite;	
}

DataGridBody
{
	font-size: 10pt;
	font-family: Arial;
	background-color: #ffff99;
	text-align: left;
	color:GhostWhite;	
}

UserTable{font-family: Arial, sans-serif; color: Red; font-size: 8px }
.UserTable
{
	font-size: 8px;
	color: red;
	font-family: Arial, sans-serif;
}

.TableHeader
{
	font-size: 12pt;
	font-family: Arial;
	color:GhostWhite;
}

.TableData
{
	font-size: 10pt;
	font-family: Arial;
	color:GhostWhite;
}
