<%@ Reference Page="~/e/Utility.aspx" %>
<%@ Page Language="VB" AutoEventWireup="false" CodeFile="modifyRole.aspx.vb" Inherits="SIAMAdmin.modifyRole" CodeFileBaseClass="SIAMAdmin.UtilityClass" %>

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Modify User Role</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<LINK href="includes/style.css" type="text/css" rel="stylesheet">
</head>

<body>
<form id="frmRole" name="frmRole" runat=server>
<table width="75%" border="0" align="center" cellspacing="2">
    <tr class="PageHead">
        <td colspan="2" style="text-align: center; width: 601px;">
            Modify
            Role</td>
    </tr>
    <tr>
        <td align="center" colspan="2" style="width: 601px; height: 25px">&nbsp;</td>
    </tr>
  <tr> 
    <td colspan="2" bgColor="#5d7180" align=center style="height: 25px; width: 601px;" >
                <table border="0">
				<tr height="25">
				    <td class=Nav3><A href="userRole.aspx">New</A></td>
					<td class="Nav3" align="center" width="5">&nbsp;|&nbsp;</td>
					<td class=Nav3><A href="srhRole.aspx">Search</A></td>
                </tr>
            </table></td>
  </tr>
  <tr> 
    <td colspan="2" style="text-align: center; width: 601px; height: 19px;"><asp:label id="ErrorLabel" runat="server" CssClass="body" ForeColor="Red" EnableViewState="False"></asp:label>&nbsp;</td>
  </tr>
 
    <tr>
        <td colspan=2>
          <div id="div1" style="BORDER-RIGHT: gray thin solid; BORDER-TOP: gray thin solid; BORDER-LEFT: gray thin solid; BORDER-BOTTOM: gray thin solid; width:100%">
            <table width=100% border=0 cellpadding=0 cellspacing=0>
                <tr>
                    <td style="width: 170px; text-align: right">&nbsp;
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td style="width: 170px; text-align: right">
                        <asp:Label ID="lblRoleID" runat="server" CssClass="body" Text="Role ID:"></asp:Label></td>
                    <td>
                        <SPS:SPSTextBox ID="txtRoleID" runat="server" CssClass="body" ReadOnly="True"></SPS:SPSTextBox></td>
                </tr>
          <tr> 
            <td style="width: 170px; text-align: right;">
                <asp:Label ID="lblRole" runat="server" CssClass="body" Text="Role :"></asp:Label></td>
            <td><span size="2" face="MS Reference Sans Serif"> <SPS:SPSTextBox ID="txtRoleName" runat="server" CssClass="body" MaxLength="50"></SPS:SPSTextBox></span></td>
          </tr>
          <tr> 
            <td style="width: 170px"><div align="right"><asp:Label ID="lblActive" runat="server" CssClass="body" Text="Is Active :"></asp:Label></div></td>
            <td><asp:CheckBox ID="chkActive" runat="server" CssClass="body" /></td>
          </tr>
          <tr> 
            <td style="width: 299px; height: 19px;" colspan=2>&nbsp;</td>            
          </tr>
          <tr> 
            <td colspan="2"><div align="center"> 
                <asp:Button ID="cmdSave" runat="server" CssClass="body" Text="  Save  " ToolTip="Click to Save the Role" />
                <asp:Button ID="cmdCancel" runat="server" CssClass="body" Text=" Cancel " ToolTip="Click to Cancel the entry" />&nbsp;
              </div></td>
          </tr>
          </table>&nbsp;
          </div>        
        </td>
    </tr>
  </table>
</form>
</body>
</html>