﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="OrderInquiry.ascx.vb" Inherits="e_OrderInquiry" %>
<table>
    <tr>
        <td>
            <SPS:SPSLabel ID="SPSPONumber" CssClass="BodyHead"  runat="server">P_SO_NUMBER</SPS:SPSLabel>
        </td>
    </tr>
    <tr>
        <td>
         <SPS:SPSTextBox ID="txtOrderNumber" CssClass="BodyHead" runat="server" >0010775640</SPS:SPSTextBox>
        </td>
    </tr>
    <tr>
        <td>
        <SPS:SPSLabel ID="SPSPOSender" CssClass="BodyHead" runat="server" >P_SENDER</SPS:SPSLabel>
        </td>
    </tr>
    <%-- Sasikumar WP SPLUS_WP014--%>
    <tr>
        <td>
            <SPS:SPSLabel ID="SPSLanguage" CssClass="BodyHead" runat="server">Language</SPS:SPSLabel>
        </td>
    </tr>
    <tr>
        <td>
            <SPS:SPSTextBox ID="txtLanguage" runat="server"></SPS:SPSTextBox>
        </td>
    </tr>
    <tr>
        <td>
        <SPS:SPSTextBox ID="txtPOSender" CssClass="BodyHead" runat="server" >SVC</SPS:SPSTextBox>                                     
        </td>
    </tr>
      <tr>
      <td >
            <SPS:SPSCheckBox  ID="chkInvoice" runat="server" CssClass="BodyHead" Text="P_INVOICE_FLAG" Checked="True" />
      </td>

    </tr>
    <tr>
    <td>
        <SPS:SPSCheckBox CssClass="BodyHead" ID="chkDetail" runat="server" Text="P_DETAIL_FLAG" Checked="True"  />
        </td>
        </tr>
          <tr>
                                                     <td>
                                                <SPS:SPSCheckBox CssClass="BodyHead" ID="chkHeader" runat="server" 
                                                   Text="P_HEADER_FLAG" Checked="True" />
                                               
                                            </td>
                                            </tr>

    </table>
    
    
    
    
                                                
                                                     
                                                   
    </tr>
