<%@ Control Language="vb" AutoEventWireup="false" Inherits="ServicePLUSWebApp.PersonalMessage" CodeFile="PersonalMessage.ascx.vb" %>
<link href="includes/ServicesPLUS_style.css" type="text/css" rel="stylesheet">
<%--<table>
    <tr>
        <td valign=middle><a target="_blank" onclick="window.location.href='SignIn.aspx?FromHome=True'; return false;"><img src="images/sp_int_viewCart_btn.GIF" alt="sss" /></a></td>
        <td valign=middle>&nbsp;&nbsp;<a class="PromoBoldWhite" target="_blank" href="#" onclick="window.location.href='SignIn.aspx?FromHome=True'; return false;">Current Shopping Cart</a></td>
    </tr>
    <tr>
        <td valign=middle colspan=2>&nbsp;&nbsp;<a class="PromoBoldWhite" target="_blank" href="#" onclick="window.location.href='SignIn.aspx?FromHome=True'; return false;">Items in cart:</a></td>
    </tr>
     <tr>
        <td valign=middle colspan=2><span class="PromoBoldWhite" >Items in cart:</span>&nbsp;&nbsp;<span><asp:Label CssClass="redasteric" runat=server ID=lblItemIncart></asp:Label></span></td>
    </tr>

</table>
--%><asp:label id="LabelMessage" runat="server"></asp:label>
