<%@ Control Language="vb" AutoEventWireup="false" Inherits="SIAMAdmin.SiamAdmin_Footer" CodeFile="SiamAdmin_Footer.ascx.vb" %>
<table border="0" width=100% bgcolor="#c9d5e6">
      <tr height="1px">
        <td height="1px" valign="top" align="right" bgcolor="#363d44">
        </td>
    </tr>     

	<tr>
		<td width="100%" ><img height="1" width="100%" src="images/spacer.gif"></td>		
	</tr>
	<tr>
		<td vAlign="top" width="100%"><span class="Bottom"></span></td>		
	</tr>
	<tr height="1px">
        <td height="1px" valign="top" align="right" bgcolor="#363d44">
        </td>
    </tr>
</table>