<%@ Reference Page="~/e/Utility.aspx" %>
<%@ Page Language="vb" AutoEventWireup="false" Inherits="SIAMAdmin.TestAuthentication" CodeFile="TestAuthentication.aspx.vb" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>TestAuthentication</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
		<LINK href="includes/style.css" type="text/css" rel="stylesheet">
	</HEAD>
	<body>
		<form id="Form1" method="post" runat="server">
		    <table align="center" border="0"  width="100%">
			    <tr>
					<td align="left" >
						<table border="0" >
							<tr height="25">
								<td class="Nav3" align="center" >&nbsp;</td>
								<td align=center bgColor=gray><A class=Nav3 href="customerinfo.aspx?LdapId=<%=getLDapID_prop()%>" >  &nbsp;&nbsp;View&nbsp;User Data &nbsp;&nbsp; </A></td><%--7086--%>
								<td class="Nav3" align="center" >&nbsp;</td>
								<td align=center bgColor=gray><A class=Nav3 href="findorders.aspx?LdapId=<%=getLDapID_prop()%>" >  &nbsp;&nbsp;View Orders &nbsp;&nbsp; </A></td>
								<td class="Nav3" align="center" >&nbsp;</td>
								<td align=center bgColor="#5d7180"><span class=NavOnPage id=Span1> &nbsp;&nbsp; Run Test Authentication&nbsp;&nbsp;  </span></td>
<%--								<td class="Nav3" align="center">&nbsp;</td>
		                        <td align=center bgcolor=gray><A class=Nav3 id=A2 href="Fix-Account.aspx?Identity=<%=getIdentity()%>"> &nbsp;&nbsp; Sync User Data&nbsp;&nbsp;  </A></td>--%>
								<td class="Nav3" align="center" >&nbsp;</td>
								<td align=center bgColor=gray><A class=Nav3 id=hrefSAPAccount href="#"  runat="server"> &nbsp;&nbsp; View SAP Accounts &nbsp;&nbsp; </A></td>
							</tr>
						</table>
					</td>
				</tr>
				
				<tr bgcolor="#5d7180">
					<td class="PageHead" align="center" style="color:white;" colSpan="1" height="30" rowSpan="1">
                       Authentication Test</td>
				</tr>
				<tr height=10>
					<td  >&nbsp;
						
					</td>
				</tr>
				<tr>
				    <td bgColor="#d5dee9">
						<span class="bodyhead">&nbsp;&nbsp;&nbsp;Authentication Status:</span>&nbsp;&nbsp;<asp:Label id="Label1" runat="server"  CssClass="Body">Label</asp:Label>
					</td>
				    <td>
				    	
				    </td>
				</tr>
			</table>
		</form>
	</body>
</HTML>
