<%@ Control Language="vb" AutoEventWireup="false" Inherits="ServicePLUSWebApp.SPSPromotion"
    CodeFile="SPSPromotion.ascx.vb" %>

<asp:HyperLink ID="lnkPromo" runat="server"><asp:Image ID="imgPromo" runat="server" AlternateText="Sony Promotions" /></asp:HyperLink>