<%@ Reference Page="~/SSL.aspx" %>
<%@ Page Language="vb" AutoEventWireup="false" Inherits="ServicePLUSWebApp.FileDownloadArea" EnableViewStateMAC="true" CodeFile="FileDownloadArea.aspx.vb" CodeFileBaseClass="ServicePLUSWebApp.SSL" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
	<HEAD>
		<title>ServicesPLUS - File Download Area</title>
		<meta name="GENERATOR" content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" content="Visual Basic .NET 7.1">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body>
		<form id="Form1" method="post" runat="server">
		</form>
	</body>
</HTML>
